name: Crate update

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:

  upload:
    name: "Uploading to craetes.io"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Loging to crates.io
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
        run: cargo login

      - name: Dry run
        run: cargo publish --dry-run

      - name: Publishing
        run: cargo publish
